@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Noto+Serif+HK:wght@200..900&family=Zen+Maru+Gothic&display=swap');
body{
	margin:0;
	padding:0;
	background-color: rgba(220,220,220);
	font-family: "Zen Maru Gothic", serif;
}

/*header*/
header{
	width:100%;
	box-sizing:border-box;
	text-align:center;
}

header img{
	padding:20px;
	margin:auto;
}

/*nav*/
	nav{
		text-align:right;
		padding:5px;
		
	}

	nav>a{
		padding:2em;
		color:rgba(20,33,61,1);
		text-decoration:none;
	}


	nav>a:hover{
		color:rgba(245,235,224,1);
	}

/*section*/
section{
	width:80%;
	margin:auto;

	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;

}

.box{
	display: inline-block;
	box-sizing:border-box;
	width:100%;
	background:rgba(255,255,255,1);
	margin:12px 0px 0px;/*3 dimension explanation: up, leftright, down*/
	z-index:10;
	overflow:hidden;

	box-shadow: 2px 2px 8px rgba(173, 181, 189 ,1);
	border-radius: 10px;

}

.box:hover{
	cursor: pointer;
}

.imgbox{
	width:100%;
	overflow:hidden;
}

.box .imgbox img{
	float:left;
	width:100%;
	
	-ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1); /* Standard syntax */
	
	transition: transform 1.5s;
	-webkit-transition: transform 1.5s;
	
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;/* Safari */

}

.box:hover .imgbox img{
	-ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2); /* Standard syntax */
}
/*hover only deal with mouse-in, not mouse-out*/

.box h3{
	box-sizing:border-box;
	padding:0px 20px;
	color:rgba(128,0,0);
}

.box p{
	box-sizing:border-box;
	padding:0px 20px;
	color:rgba(128,128,128);
}

.head{
	display:inline-block;
	padding:0px 20px 20px;
}

.head img{
	float:left;
	width:40px;
	height:40px;
	border-radius: 50%;
}

.head span{
	float:left;
	font-size:13px;
	color:rgba(42, 157, 143 ,1);
	line-height:40px; /* let content in the middle*/
	margin-left:10px;
}


/* aside */
aside{
	position:fixed;
	right:10px;
	bottom:10px;
	z-index:100000;/*will not be covered by other items*/
}

.totop{
	width:44px;
	height:44px;
	background:rgba(38, 70, 83, 1) url(../images/top2x.png) no-repeat;/*background family wrighting way*/
	background-size:200%;
	background-position:0px 0px;
}

.totop:hover{
	background:rgba(38, 70, 83, 1) url(../images/top2x.png) no-repeat;
	background-size:200%;
	background-position:-44px 0px;/*go to left making colors changing*/
}

/*footer*/
footer{
	padding:20px 0px;
	text-align:center;
	color:rgba(38, 70, 83, 1);
}
